@model List<Technician>

<h2>Technician Manager</h2>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var technician in Model)
        {
            <tr>
                <td>@technician.Technicianname</td>
                <td>@technician.Technicianemail</td>
                <td>@technician.Technicianphone</td>
                <td>
                    <a asp-controller="Technician" asp-action="Edit"
                       asp-route-id="@technician.TechnicianId"
                       class="btn btn-primary">Edit</a>
                </td>
                <td>
                    <a asp-controller="Technician" asp-action="Delete"
                       asp-route-id="@technician.TechnicianId"
                       class="btn btn-primary">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<a asp-controller="Technician" asp-action="Add" class="btn btn-primary">Add Technician</a>
