@model IEnumerable<GBCSporting2021_DynamicDevelopers.Models.Product>

@{
    ViewData["Title"] = "Index";
}

@if (TempData["message"] != null)
{
    if (ViewContext.RouteData.Values["action"].ToString() == "delete")
    {
        <h4 class="alert alert-danger" id="successMessage">@TempData["message"]</h4>
    }
    else if (ViewContext.RouteData.Values["action"].ToString() == "edit")
    {
        <h4 class="alert alert-warning" id="successMessage">@TempData["message"]</h4>
    }
    else
    {
        <h4 class="alert alert-info" id="successMessage">@TempData["message"]</h4>
    }
}
<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Code)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Productname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Productprice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReleaseDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Code)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Productname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Productprice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReleaseDate)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ProductId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ProductId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ProductId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
