@model Incident
@{
    string title = ViewBag.Action + " Incident";
    ViewBag.Title = title;
}

<h2>@title</h2>

<form asp-action="Edit" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="form-group">
        <label asp-for="CustomerId">Customer </label>
        <select asp-for="CustomerId" class="form-control custom-select-sm">
            @foreach (Customer c in ViewBag.Customers)
            {
                <option value="@c.CustomerId">@c.Firstname @c.Lastname</option>
            }
        </select>
    </div>

    <div class="form-group">
        <label asp-for="ProductId">Product </label>
        <select asp-for="ProductId" class="form-control custom-select-sm">
            @foreach (Product p in ViewBag.Products)
            {
                <option value="@p.ProductId">@p.Productname</option>
            }
        </select>
    </div>

    <div class="form-group">
        <label asp-for="title">Title </label>
        <input asp-for="title" class="form-control">
    </div>

    <div class="form-group">
        <label asp-for="Description">Description </label>
        <input type="text" asp-for="Description" class="form-control">
    </div>

    <div class="form-group">
        <label asp-for="TechnicianId">Technician </label>
        <select asp-for="TechnicianId" class="form-control custom-select-sm">
            <option value="">-----assign a technician-----</option>
            @foreach (Technician t in ViewBag.Technicians)
            {
                <option value="@t.TechnicianId">@t.Technicianname</option>
            }
        </select>
    </div>

    <div class="form-group">
        <label asp-for="Dateopened">Date Opened </label>
        <input type="datetime" asp-for="Dateopened" class="form-control">
    </div>

    <div class="form-group">
        <label asp-for="Dateclosed">Date Closed </label>
        <input asp-for="Dateclosed" class="form-control">
    </div>

    <input type="hidden" asp-for="IncidentId" />

    <button type="submit" class="btn btn-primary">@ViewBag.Action</button>
    <a asp-controller="Incident" asp-action="List" class="btn btn-primary">Cancel</a>
</form>