@model IEnumerable<GBCSporting2021_DynamicDevelopers.ViewModel.IncidentsViewModel>

@{
    ViewData["Title"] = "Index";
}

<h2>Incident Manager</h2>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Title
            </th>
            <th>
                Customer
            </th>
            <th>
                Product
            </th>
            <th>
                Date Opened
            </th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Customer.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Product.Code)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Dateopened)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.IncidentId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.IncidentId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.IncidentId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
