@model IEnumerable<GBCSporting2021_DynamicDevelopers.ViewModel.IncidentsViewModel>

@{
    ViewData["Title"] = "List";
}

<h2>List</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Customer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dateopened)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dateclosed)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Customer.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Product.Code)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Dateopened)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Dateclosed)
                </td>
                <td>
                    <a asp-action="Update" asp-route-id="@item.IncidentId">Update</a> 
                </td>
            </tr>
        }
    </tbody>
</table>
